.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    background-color: rgb(227, 225, 245);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    color: white;
    background-color: rgb(98, 1, 98);
    border: none;
    border-radius: 8px;
    padding: 2px;
    margin: 5px;
    font-weight: 700;
}

.btn:hover {
    box-shadow: 0 0 10px rgb(98, 1, 98);
    cursor: pointer;
}

.mark-btn {
    height: 35px;
    width: 140px;
    color: white;
    background-color: rgb(98, 1, 98);
    border: none;
    border-radius: 8px;
    padding: 2px;
    margin: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(98, 1, 98);
    border-radius: 10px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    margin: 8px;
    color: rgb(98, 1, 98);
    width: 600px;
    height: 35px;
}

.list-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.list-item {
    font-size: 20px;
    font-weight: 600;
}

.list:hover {
    background-color: hsl(248, 73%, 94%);
}

.input {
    padding: 5px 10px 5px 10px;
    border: 2px solid rgb(98, 1, 98);
    border-radius: 10px;
    background-color: #ddd9fa;
    color: rgb(98, 1, 98);
    height: 40px;
    width: 300px;
    margin-top: 10px;
    font-size: larger;
    font-weight: 400;
    margin-top: 35px;

}

.input:hover {
    box-shadow: 0 0 15px rgb(98, 1, 98);
}

ul {
    list-style-type: none;
    padding: 0;
}

.basic-date-picker {
    align-self: flex-start;
    width: 166px;
    margin-left: 12px;
    background-color: #ddd9fa;
    margin-bottom: 20px;
    border: 0.5px solid rgb(98, 1, 98);
    border-radius: 8px;

}

.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.card {
    border: 2px solid rgb(98, 1, 98);
    border-radius: 10px;
    background-color: white;
    padding: 10px 10px 30px 10px;
    margin: 8px;
    color: rgb(98, 1, 98);
    width: 150px;
    height: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1px;
}

.card:hover {
    background-color: hwb(248 90% 2%);
    cursor: pointer;

}

.count {
    font-size: 25px;
    font-weight: 600;
    padding-top: 7px;
    margin: 0px;
}

.progress {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding-bottom: 7px;
}


@media (max-width: 900px) {
    .container {
        width: 100%;
    }
}

@media(max-width: 800px) {
    .container {
        width: 100%;
    }
}

.list {
    width: 500px;
}

@media(max-width: 650px) {
    .container {
        width: 100%;
    }

    .list {
        width: 350px;
    }

    .progress-container {
        flex-wrap: wrap;
    }

    .input {
        width: 200px;
    }

    .mark-btn {
        width: 100px;
    }

}

@media(max-width: 500px) {
    .container {
        width: 100%;
    }
    .list {
        width: 200px;
    }
    .list-btn{
        font-size: smaller;
    }
    .list-item{
        font-size: 18px;
    }
    .input{
        font-size: 18px;
        width: 145px;
    }
    .card{
        width: 90px;
        height: 30px;
        font-size: smaller;
    }
    .count{
        font-size: 20px;
    }
    .progress{
        font-size: 15px;
    }
    .mytask{
        font-size: 25px;
    }
} 
